[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = chore/bump-to-1.7.6
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady