# Compiler files
bin/
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Patched `forge` bin
bin/forge
# Patched `solc` bin
bin/solc
